body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .bg-card {
    background-color: #ffffff;
  }
  
  .text-card-foreground {
    color: #1f2937;
  }
  
  .bg-muted {
    background-color: #de0000;
  }
  
  .text-muted-foreground {
    color: #ffffff;
  }
  
  .bg-primary {
    background-color: #e53e3e;
  }
  
  .text-primary-foreground {
    color: #ffffff;
  }
  
  .max-w-2xl {
    max-width: 42rem;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  .shadow-md {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .p-6 {
    padding: 1.5rem;
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  
  .mb-4 {
    margin-bottom: 1rem;
  }
  
  .mb-2 {
    margin-bottom: 0.5rem;
  }
  
  .mb-6 {
    margin-bottom: 1.5rem;
  }
  
  .text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  
  .font-bold {
    font-weight: 700;
  }
  
  .block {
    display: block;
  }
  
  .w-full {
    width: 100%;
  }
  
  .p-2 {
    padding: 0.5rem;
  }
  
  .border {
    border-width: 1px;
    border-color: #d1d5db;
  }
  
  .hover\:bg-primary\/80:hover {
    background-color: #c53030;
  }
  
  .mt-6 {
    margin-top: 1.5rem;
  }
  
  .grid {
    display: grid;
  }
  
  .grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  .gap-6 {
    gap: 1.5rem;
  }
  
  .flex {
    display: flex;
  }
  
  .items-center {
    align-items: center;
  }
  
  .space-x-4 > :not(:first-child) {
    margin-left: 1rem;
  }
  
  .mr-2 {
    margin-right: 0.5rem;
  }
  
  /* Botones */
  button {
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #c00d0d;
    color: #ffffff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
  }
  
  button:hover {
    background-color: #b30f0f;
    transform: scale(1.05);
  }
  
  button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(156, 8, 8, 0.6);
  }
  
  button:active {
    transform: scale(0.95);
  }
  